<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <% include templates/header.ejs %>
    <% include templates/css.ejs %>
 </head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="/assets/img/sidebar-5.jpg">

      <% include templates/sidebar.ejs %>


      <% include templates/footer.ejs %>

    </div>
</div>

<% include templates/base_scripts.ejs %>

<% include templates/page_scripts.ejs %>

</body>
</html>
