        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; 2016 <a href="/">Interactive Current Atlas</a>
                </p>
            </div>
        </footer>
